body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f7f7f9;
}

header {
  background-color: #fff;
}

nav {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  font-size: small;
}

.intro {
  height: 100vh;
  background-image: url("images/header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.032vw;
  background-color: #fff;
  border-bottom-left-radius: 21.3vw;
}

h1 {
  font-weight: 700;
  font-size: 10.6vw;
  color: #172b4d;
  padding-top: 40vw;
  margin: 0;
  line-height: 12.85vw;
}

.categories p {
  font-size: 3.2vw;
  color: #6070ff;
  padding: 0 3.2vw;
  margin: 0;
}

.card p {
  font-size: 4vw;
  font-weight: 400;
  line-height: 6.4vw;
  color: #344563;
}

section.intro p {
  margin-top: 3.2vw;
  font-size: 4.26vw;
  color: #344563;
}

.lets-connect {
  display: flex;
  flex-direction: column;
  column-gap: 5vw;
}

div.lets-connect p {
  color: #7f8cff;
  font-weight: 500;
  font-size: 4.26vw;
  margin-top: 3.2vw;
  margin-bottom: 3.2vw;
  padding-top: 0;
  padding-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.social-icons {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 5vw;
}

.social-icon:hover {
  opacity: 0.8;
}

#menu-button {
  width: 13%;
  height: 13%;
}

.works {
  grid-template-rows: repeat(4, 76.8vw);
  grid-template-columns: 87vw;
  grid-row-gap: 12.25vw;
  margin: 31vw 6.4vw;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  border-radius: 4.26vw;
  margin-bottom: 21.6vw;
}

.card-item {
  margin: 2% 4%;
}

.card-img {
  width: 93%;
  align-self: center;
  margin-top: 4%;
}

h3 {
  font-size: 8.53vw;
  font-weight: 700;
  color: #172b4d;
}

.company {
  margin-top: 0;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

h4 {
  font-weight: 600;
  font-size: 3.46vw;
  color: #344563;
  margin: 0;
}

.canopy {
  margin-left: 0;
}

.company li p {
  font-size: 3.46vw;
  color: #7a869a;
  margin: 0;
}

.company li {
  margin: 2.13vw 1.7vw;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.categories li {
  background-color: #ebebff;
  border-radius: 2.13vw;
  margin: 0 1.75vw;
}

.about-myself {
  border-top-right-radius: 21.3vw;
  background-color: #fff;
}

.about-myself h3 {
  margin-top: 0;
  padding-top: 30.4vw;
  margin-bottom: 0;
}

.about-myself p.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 4.26vw;
  line-height: 6.4vw;
  color: #344563;
  margin-top: 3.2vw;
  margin-bottom: 0;
}

li.abilities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-style: none none solid;
  border-width: 0.3vw;
  border-color: #dfe1e6;
}

img.next {
  width: 7vw;
  height: 7vw;
  margin-right: 11.2vw;
}

li.languages {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4vw;
  border-style: none;
  width: 80.8vw;
  height: 17.6vw;
  background-color: #f7f7f9;
  border-radius: 2.13vw;
  margin-top: 3.2vw;
  margin-bottom: 3.2vw;
}

li.languages img {
  margin-left: 3.2vw;
}

li.languages p {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  line-height: 3.34vw;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4.5vw 3vw;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  background-color: #fff;
}

.div-button {
  margin-top: 2.78vw;
  margin-bottom: 5vw;
}

.margin {
  margin-left: 6.4vw;
  margin-right: 6.4vw;
}
