body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #f7f7f9;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #fff;
}

nav {
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
}

#menu-button {
  background-image: url(images/Union.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 4.8vw;
  height: 3.2vw;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 0;
}

.desktop-menu {
  visibility: hidden;
  position: absolute;
  gap: 1.25vw;
  color: #344563;
  font-style: normal;
  font-weight: 500;
  font-size: 1.042vw;
  line-height: 1.389vw;
}


.intro {
  background-image: url("images/header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: flex-start;
  row-gap: 0.032vw;
  background-color: #fff;
  border-bottom-left-radius: 21.3vw;
}

h1 {
  font-weight: 700;
  font-size: 10.6vw;
  color: #172b4d;
  padding-top: 40vw;
  margin: 0;
  line-height: 12.85vw;
  max-width: 11ch;
}

.categories p {
  font-size: 3.2vw;
  color: #6070ff;
  padding: 1.067vw 3.2vw;
  margin: 0;
}

.card-description {
  font-size: 4vw;
  font-weight: 400;
  line-height: 6.4vw;
  color: #344563;
}

.contact-form p {
  color: #ebebff;
  font-size: 5.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: 7.467vw;
  text-align: center;
  margin-top: 3.2vw;
  margin-bottom: 13.86vw;
}

section.intro p {
  margin-top: 3.2vw;
  font-size: 4.26vw;
  color: #344563;
}

.lets-connect {
  column-gap: 5vw;
}

div.lets-connect p {
  color: #7f8cff;
  font-weight: 500;
  font-size: 4.26vw;
  margin-top: 3.2vw;
  margin-bottom: 3.2vw;
  padding-top: 0;
  padding-bottom: 0;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

.social-icons {
  margin-top: 0;
  margin-bottom: 0;
  justify-content: flex-start;
  align-items: end;
  gap: 5vw;
}

.social-icon:hover {
  opacity: 0.8;
}

.intro .lets-connect {
  margin-bottom: 36.267vw;
}

.works {
  grid-template-rows: repeat(4, 76.8vw);
  grid-template-columns: 87vw;
  grid-row-gap: 12.25vw;
  margin: 30.4vw 6.4vw;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 4.26vw;
  margin-bottom: 21.6vw;
}

.card-item {
  margin: 2% 4%;
}

.card-img {
  width: 93%;
  align-self: center;
  margin-top: 4%;
}

.desktop-card-img{
  visibility: hidden;
  position: absolute;
}

.desktop-card-img-left {
  visibility: hidden;
  position: absolute;
}

h3 {
  font-size: 8.53vw;
  font-weight: 700;
  color: #172b4d;
}

.company {
  margin-top: 0;
  justify-content: flex-start;
  align-items: baseline;
}

h4 {
  font-weight: 600;
  font-size: 3.467vw;
  color: #344563;
  margin: 0;
}

.canopy {
  margin-left: 0;
}

.company li p {
  font-size: 3.46vw;
  color: #7a869a;
  margin: 0;
}

.company li {
  margin: 2.13vw 1.7vw;
}

.categories {
  justify-content: start;
  align-items: baseline;
}

.categories li {
  background-color: #ebebff;
  border-radius: 2.13vw;
  margin-right: 1.75vw;
}

li.html {
  margin-left: 0;
}

.about-myself {
  border-top-right-radius: 21.3vw;
  background-color: #fff;
  padding-bottom: 47.16vw;
}

.about-myself h3 {
  margin-top: 0;
  padding-top: 30.4vw;
  margin-bottom: 0;
}

.about-myself p.bio {
  font-style: normal;
  font-weight: 400;
  font-size: 4.26vw;
  line-height: 6.4vw;
  color: #344563;
  margin-top: 3.2vw;
  margin-bottom: 0;
}

.about-myself ul li p {
  font-size: 4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 5.3vw;
  color: #253858;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 4.5vw;
  line-height: 3.34vw;
  letter-spacing: 0.03em;
  align-items: center;
  text-align: center;
  padding: 4.5vw 3vw;
  border: 1px solid #396df2;
  border-radius: 8px;
  color: #396df2;
  background-color: transparent;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  color: #fff;
  background: #2230d2;
}

button:disabled {
  background-color: transparent;
  color: #5e6c84;
  border-color: #c1c7d0;
}

.about-myself button {
  margin-bottom: 16vw;
}

li.abilities {
  justify-content: space-between;
  align-items: center;
  border-style: none none solid;
  border-width: 0.3vw;
  border-color: #dfe1e6;
}

img.next {
  width: 7vw;
  height: 7vw;
  margin-right: 11.2vw;
}

li.languages {
  justify-content: flex-start;
  align-items: center;
  column-gap: 4vw;
  border-style: none;
  width: 80.8vw;
  height: 17.6vw;
  background-color: #f7f7f9;
  border-radius: 2.13vw;
  margin-top: 3.2vw;
  margin-bottom: 3.2vw;
}

li.languages img {
  margin-left: 3.2vw;
}

li.languages p {
  margin-top: 0;
  margin-bottom: 0;
}

.contact-form {
  background-color: #fff;
}

.blue-border {
  border-top-left-radius: 21.3vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 6.4vw;
  align-items: center;
  background-color: #6070ff;
  background-image: url(images/contact\ form\ shapes-mobile@2x.png);
}

.contact-form h2 {
  color: #fff;
  font-size: 4.8vw;
  margin-top: 27.467vw;
}

.contact-form input {
  width: 87.2vw;
  height: 12.8vw;
  background: #fff;
  border: 0.267vw solid #cfd8dc;
  border-radius: 2.13vw;
  font-size: 4.53vw;
  margin-bottom: 5.3vw;
}

.contact-form textarea {
  width: 87.2vw;
  height: 45.3vw;
  border: 0.267vw solid #cfd8dc;
  border-radius: 2.13vw;
  font-size: 4vw;
  margin-bottom: 5.867vw;
}

.contact-form button {
  background-color: #fff;
  margin-bottom: 11.73vw;
}

.contact-form hr {
  width: 35.73vw;
  border: 1.3vw solid #0d151e;
  border-radius: 2.667vw;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

textarea:focus::placeholder {
  color: transparent;
}

.div-button {
  margin-top: 2.78vw;
  margin-bottom: 5vw;
}

.margin {
  margin-left: 6.4vw;
  margin-right: 6.4vw;
}

@media (min-width: 768px) {

  .nav-query {
    margin: 0 10.764vw 0;
  }

  h2 {
    font-size: 1.25vw;
    margin: 0;
    padding-top: 1.806vw;
    padding-bottom: 1.806vw;
  }

  .desktop-menu {
    visibility: visible;
    position: static;
  }

  #menu-button {
    visibility: hidden;
    position: absolute;
  }

  .intro {
    background-image: url(images/Header\ bg@2x.png);
    background-position: center;
    border-bottom-left-radius: 10vw;
  }

  .intro-margin {
    margin-left: 18.056vw;
  }

  .h1-query {
    font-size: 3.3vw;
    line-height: 4.167vw;
    letter-spacing: 0.026vw;
    padding-top: 20vw;
    max-width: none;
    margin-left: 18.056vw;
  }

  section.intro .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.389vw;
    line-height: 1.94vw;
    max-width: 74ch;
    margin-top: 0.83vw;
    margin-bottom: 0.83vw;
  }

  div.lets-connect p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1vw;
    margin-top: 0;
    margin-bottom: 0.972vw;
  }

  .social-icons {
    gap: 1.389vw;
  }

  .intro .lets-connect {
    margin-bottom: 17.708vw;
  }

  .works {
    margin: 9.861vw;
  }

  .card {
    border-radius: 1.667vw;
  }

  .card-left {
    justify-content: space-between;
  }

  .card-item {
    margin: 0;
  }

  .card-img {
    visibility: hidden;
    position: absolute;
  }

  .desktop-card-img {
    width: 38.472vw;
    height: 31.1vw;
    visibility: visible;
    position: static;
    margin: 1.667vw 3.194vw 1.667vw 1.667vw
  }

  .desktop-card-img-left {
    width: 38.472vw;
    height: 31.1vw;
    visibility: visible;
    position: static;
    margin: 1.667vw 1.667vw 1.667vw 3.194vw;
  }

  div.card {
    flex-direction: row;
  }

  .card-text {
    margin-top: 3.3vw;
  }

  .card-left .card-text {
    margin-left: 3.3vw;
  }

  .card h3 {
    font-size: 2.778vw;
    margin-bottom: 1.389vw;
  }

  .company{
    margin-bottom: 2.361vw;
  }

  .company li {
    margin: 0 0.83vw 0 0;
  }

  .card .company h4 {
    font-size: 1.25vw;
  }

  .card .company p {
    font-size: 1.25vw;
  }

  .card-description {
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 1.667vw;
    margin-bottom: 1.94vw;
    width: 50ch;
  }

  .categories li {
    border-radius: 0.556vw;
    margin-right: 0.556vw;
  }

  .categories p {
    font-size: 0.83vw;
    padding: 0.278vw 0.83vw;
  }

  .div-button {
    margin: 3.056vw 0;
  }

  button {
    font-style: normal;
    font-weight: 500;
    font-size: 1.181vw;
    line-height: 1.667vw;
    align-items: center;
    text-align: center;
    padding: 0.83vw;
    border: 1px solid #396df2;
    border-radius: 0.556vw;
    color: #396df2;
    background-color: transparent;
  }

}